<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'styles/aside.css')}}"
/>

<div class="aside">
  <div class="header">
    <i class="bi bi-printer"></i>
    <div class="title">
      <h5>{{config_negocio.name}}</h5>
      <i>Sistema de ventas</i>
    </div>
    <i class="bi bi-caret-left-fill"></i>
  </div>
  <hr />
  <div class="user">
    <div class="blob">{{name[0]}}</div>
    <div class="desc">
      <div class="name">{{name}}</div>
      <div class="role">
        <div class="dropdown">
          <button
            class="btn btn-danger dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{role}}
          </button>
          <ul class="dropdown-menu">
            <p>Mi cuenta</p>
            <hr>
            <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i>  Perfil</a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i>  Configuracion</a></li>
            <li><a class="dropdown-item text-danger" href="/auth"><i class="bi bi-box-arrow-left"></i>  cerrar session</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <ul>
    <li><a class="btn dash" href="./"><i class="bi bi-house"></i>  Dashboard</a></li>
    <li><a class="btn ventas" href="./ventas"><i class="bi bi-cart"></i>  Punto de venta</a></li>
    <li><a class="btn client" href="./clientes"><i class="bi bi-people"></i>  Clientes</a></li>
    <li><a class="btn inventarios" href="./inventarios"><i class="bi bi-box"></i>  Inventarios</a></li>
    <li><a class="btn facturas" href="./facturas"><i class="bi bi-file-earmark-text"></i>  Facturas</a></li>
    <li><a class="btn reportes" href="./reportes"><i class="bi bi-bar-chart-line"></i>  Reportes</a></li>
    <li><a class="btn configuracion" href="./configuracion"><i class="bi bi-gear"></i>  Configuracion</a></li>
  </ul>
  <hr>
  <div class="footer">
    <p>Imprenta Digital v1.0 <br>
    © 2024 Todos los derechos reservados</p>
  </div>
</div>
