.configuration{
    display: flex;
    height: 100%;
    gap: 10px;
    flex-direction: column;

    .nav, .body{
        border-radius: 20px;
        padding: 20px;
        outline: 1px solid rgba(0, 0, 0, 0.308);
    }
    .nav{
        height: 100px;
        display: flex;
        justify-content: space-around;

    }
    .body{
        height: 100%;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .carousel,.carousel-inner,.carousel-item{
        height: 100%;
        
    }
    .nav>.btn:active{
        background-color: var(--bg-dark);
        color: var(--color-dark);
    }

    .sect1{
        display: flex;
        width: 100%;
        gap: 20px;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .sect1 .mb-3{
        flex-basis: 45%;
    }
}