
.aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    color: var(--color);

    .header{
        gap: 5px;
        margin-top: 15px;
    }
 
    .dropdown-menu{
        p{
            width: 100%;
            text-align: center;
        }
        a:hover{
            background-color: var(--bg-dark);
            color: var(--color-dark);
        }
    }
}
hr{
    width: 100%;
}

.bi-printer{
    font-size: xx-large;
    color: rgb(0, 183, 255);
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    gap: 25px;
    button{
        padding: 2px;
        font-size: x-small;

    }
    .blob {
        border-radius: 100%;
        background-color: rgb(59, 59, 59);
        color: rgb(88, 222, 255);
        width: 3rem;
        height: 3rem; 
        
        display: flex;
        align-items: center;  
        justify-content: center; 
      
        font-size: 2rem;
        font-weight: 500;
        padding: 3px;
      }
}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;

    li{
        width: 100%;
    }
    a{
    width: 100%;

    }
}

a.btn {
    justify-content: flex-start;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  a.btn:hover{
    background-color: var(--bg-dark);
    color: var(--color-dark );
  }
  .footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
    word-break: break-word;
  }
.footer{
    color: var(--bg-dark);
}