:root{
    --color:#000;
    --bg:#fff;
    --color-dark:#fff;
    --bg-dark:#282828;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}
.alert {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* Asegura que quede encima del resto */
    max-width: 90%;
    width: fit-content;
}