{% extends 'bases/dashboard_base.html' %} {% block header %}
<style>
  .configuracion {
    background-color: var(--bg-dark);
    color: var(--color-dark);
  }
</style>
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'styles/design/dashboard_config.css')}}"
/>

<div class="init">
  <h3>Configuración del Sistema</h3>
  <p>Ajustes y preferencias del punto de venta</p>
</div>
<div class="end">
  <div class="date"><i class="bi bi-gear"></i> Panel de administración</div>
</div>
{% endblock %} {% block content %}
<div class="configuration">
  <div class="nav">
    <button
      type="button"
      class="btn"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"

      aria-current="true"
      aria-label="Slide 1"
    >
      Negocio
    </button>
    <button
      type="button"
      class="btn"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    >
      Impresoras
    </button>
    <button
      type="button"
      class="btn"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    >
      Usuarios
    </button>
    <button
      type="button"
      class="btn"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"

      aria-current="true"
      aria-label="Slide 4"
    >
      Servicios
    </button>
    <button
      type="button"
      class="btn"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="4"

      aria-current="true"
      aria-label="Slide 5"
    >
      Facturación
    </button>
    <button
      type="button"
      class="btn"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="5"
      aria-current="true"
      aria-label="Slide 6"
    >
      Alertas
    </button>
    <button
      type="button"
      class="btn"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="6"

      aria-current="true"
      aria-label="Slide 7"
    >
      Base de datos
    </button>
    <button
      type="button"
      class="btn"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="7"

      aria-current="true"
      aria-label="Slide 8"
    >
      Sistema
    </button>
  </div>
  <div class="body">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
            {% include 'dashboard/config-snipets/negocio.html'   %}
        </div>
        <div class="carousel-item">
          {% include 'dashboard/config-snipets/impresoras.html'%}
        </div>
        <div class="carousel-item usuarios">
            {% include 'dashboard/config-snipets/usuarios.html'%}
        </div>
        <div class="carousel-item">
          {% include 'dashboard/config-snipets/servicios.html'%}
        </div>
        <div class="carousel-item">
          {% include 'dashboard/config-snipets/facturacion.html'%}
        </div>
        <div class="carousel-item">
          {% include 'dashboard/config-snipets/alertas.html'%}
        </div>
        <div class="carousel-item">
          {% include 'dashboard/config-snipets/bases-de-datos.html'%}
        </div>
        <div class="carousel-item">
          {% include 'dashboard/config-snipets/sistema.html'%}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
